@{
    Layout = "_Layout";
}
@using OrderManagmentSytemDAL.ViewModels;
@model Response;
<h1>Orders</h1>
<div class="modal fade" tabindex="-1" style=" background-color: #0000008f;" id="DeletePopUp">
</div>
<div class="d-flex justify-content-end">
    <a asp-action="CreateOrder" asp-controller="Order" class="btn btn-outline-primary">Add Order</a>
    <button type="button" onclick="DeletePopUpOpen()" id="btnDeleteOrder" class="btn btn-danger mx-2" disabled>Delete Orders</button>
</div>
@if (Model.IsSuccess && Model.Result is IEnumerable<OrderWithCustomer>)
{
    IEnumerable<OrderWithCustomer> orders = Model.Result as IEnumerable<OrderWithCustomer>;

    if (orders.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" onclick="AllFileChecked()" id="checkbox-All-orders" />
                    </th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (OrderWithCustomer order in orders)
                {
                    <tr>
                        <th scope="row">
                            <input name="SelectedFiles" class="checkbox-order" onchange="checkedforbutton()" type="checkbox" value="@order.OrderId" />
                        </th>
                        <td>@order.ProductName</td>
                        <td>@order.Amount</td>
                        <td>@order.Quantity</td>
                        <td>@order.CustomerFirstName @order.CustomerLastName</td>
                        <td>
                            <a asp-action="EditOrder" asp-controller="Order" asp-route-orderId="@order.OrderId" type="button" class="btn btn-primary">Edit</a>
                            <!--<a asp-action="DeleteOrder" asp-controller="Order" asp-route-orderId="@order.OrderId" type="button" class="btn btn-danger">Delete</a>-->
                            <button type="button" onclick="DeletePopUpOpen(@order.OrderId)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <h1>Their is not any Orders Availabe.</h1>
    }
}
else
{
    <h1>Their Was Some Issue</h1>
}
<script>

    function DeletePopUpOpen(orderId) {
        $.ajax({
            url: '/Orders/deleteconfirmation?orderId=' + orderId,
            type: 'Get',
            contentType: false,
            success: function (data) {
                if (data.message == null) {
                    $('#DeletePopUp').html('');
                    $('#DeletePopUp').html(data);
                    $('#DeletePopUp').modal("show");
                } else {
                    console.log(data.message);
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    function checkedforbutton() {

        let inputs = document.querySelectorAll('.checkbox-order');
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].checked) {
                document.getElementById('btnDeleteOrder').disabled = false;
                return;
            }
            else {
                document.getElementById('checkbox-All-orders').checked = false;
            }
        }
        document.getElementById('btnDeleteOrder').disabled = true;
    }

    function AllFileChecked() {
        let inputs = document.getElementById('checkbox-All-orders');
        if (inputs.checked) {
            let inputs = document.querySelectorAll('.checkbox-order');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].checked = true;
            }

            document.getElementById('btnDeleteOrder').disabled = false;
        } else {
            let inputs = document.querySelectorAll('.checkbox-order');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].checked = false;
            }
            document.getElementById('btnDeleteOrder').disabled = true;
        }

    }
</script>
