
@{
    Layout = "_Layout";
}
@using OrderManagmentSytemDAL.ViewModels;
@model Response;
<h1>Customers</h1>
<div class="modal" tabindex="-1" style=" background-color: #0000008f;" id="DeletePopUp" data-backdrop="static">
</div>
<div class="d-flex justify-content-end">
    <a asp-action="CreateCustomer" asp-controller="Customer" class="btn btn-outline-primary">Add Customer</a>
    <button type="button" onclick="DeletePopUpOpen()" id="btnDeleteCustomer" class="btn btn-danger mx-2" disabled>Delete Customers</button>
</div>

@if (Model.IsSuccess && Model.Result is IEnumerable<CustomerDetails>)
{
    IEnumerable<CustomerDetails> customers = Model.Result as IEnumerable<CustomerDetails>;
    
    if (customers.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" onclick="AllFileChecked()" id="checkbox-All-customer" />
                    </th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CustomerDetails customer in customers)
                {
                    <tr>
                        <th scope="row">
                            <input name="SelectedFiles" class="checkbox-customer" onchange="checkedforbutton()" type="checkbox" value="@customer.CustomerId" />
                        </th>
                        <td>@customer.CustomerFirstName</td>
                        <td>@customer.CustomerLastName</td>
                        <td>@customer.EmailId</td>
                        <td>@customer.PhoneNumber</td>
                        <td>@customer.Address</td>
                        <td>
                            <a asp-action="EditCustomer" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" type="button" class="btn btn-primary">Edit</a>
                            <!--
                                <a asp-action="DeleteCustomer" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" type="button" class="btn btn-danger">Delete</a> -->
                            <button type="button" onclick="DeletePopUpOpen(@customer.CustomerId)"  class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    }
    else
    {
        <h1>Their is not any customer Availabe.</h1>
    }
}
else
{
    <h1>Their Was Some Issue</h1>
}
<script>
        
        function DeletePopUpOpen(CustomerId){
            $.ajax({
                url: '/Customers/deleteconfirmation?customerId=' + CustomerId,
                type: 'Get',
                contentType: false,
                success: function (data) {
                    if (data.message == null) {
                        $('#DeletePopUp').html('');
                        $('#DeletePopUp').html(data);
                        $('#DeletePopUp').modal("show");
                    } else {
                        console.log(data.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    function checkedforbutton() {

        let inputs = document.querySelectorAll('.checkbox-customer');
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].checked) {
                document.getElementById('btnDeleteCustomer').disabled = false;
                return;
            }
            else {
                document.getElementById('checkbox-All-customer').checked = false;
            }
        }
        document.getElementById('btnDeleteCustomer').disabled = true;
    }

    function AllFileChecked() {
        let inputs = document.getElementById('checkbox-All-customer');
        if (inputs.checked) {
            let inputs = document.querySelectorAll('.checkbox-customer');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].checked = true;
            }

            document.getElementById('btnDeleteCustomer').disabled = false;
        } else {
            let inputs = document.querySelectorAll('.checkbox-customer');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].checked = false;
            }
            document.getElementById('btnDeleteCustomer').disabled = true;
        }

    }
</script>
