@{
    Layout = "_Layout";
}
@using OrderManagmentSytemDAL.ViewModels;
@model Response;
<h1>Customers</h1>
<div class="modal" tabindex="-1" style=" background-color: #0000008f;" id="DeletePopUp" data-backdrop="static">
</div>
<div class="d-flex justify-content-end">
    <a asp-action="CreateCustomer" asp-controller="Customer" class="btn btn-outline-primary">Add Customer</a>
    <button type="button" onclick="deleteMultipleCustomers()" id="btnDeleteCustomer" class="btn btn-danger mx-2" disabled>Delete Customers</button>
</div>

@if (Model.IsSuccess && Model.Result is IEnumerable<CustomerDetails>)
{
    IEnumerable<CustomerDetails> customers = Model.Result as IEnumerable<CustomerDetails>;

    if (customers.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" onchange="checkAllCustomers()" id="checkbox-All-customers" />
                    </th>
                    <th scope="col">Photo</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CustomerDetails customer in customers)
                {
                    <tr>
                        <td scope="row">
                            <input class="checkbox-customer" onchange="checkCustomer()" type="checkbox" value="@customer.CustomerId" />
                        </td>
                        <td>
                            <img class="customerProfilePic" src="@customer.Photo"  alt="No pic"  />
                        </td>
                        <td>@customer.CustomerFirstName</td>
                        <td>@customer.CustomerLastName</td>
                        <td>@customer.EmailId</td>
                        <td>@customer.PhoneNumber</td>
                        <td>@customer.Address</td>
                        <td>
                            <a asp-action="EditCustomer" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" type="button" class="btn btn-primary">Edit</a>
                            <!--
                                <a asp-action="DeleteCustomer" asp-controller="Customer" asp-route-customerId="@customer.CustomerId" type="button" class="btn btn-danger">Delete</a> -->
                            <button type="button" onclick="deleteCustomer(@customer.CustomerId)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <h1>Their is not any customer Availabe.</h1>
    }
}
else
{
    <h1>Their Was Some Issue</h1>
}
<script>
    function checkCustomer() {
        let CustomersCheckBox = document.querySelectorAll('.checkbox-customer');
        for (let i = 0; i < CustomersCheckBox.length; i++) {
            if (CustomersCheckBox[i].checked) {
                document.getElementById('btnDeleteCustomer').disabled = false;
                return;
            }
            else {
                document.getElementById('checkbox-All-customers').checked = false;
            }
        }
        document.getElementById('btnDeleteCustomer').disabled = true;
    }

    function checkAllCustomers() {
        let AllCustomersCheckBox = document.getElementById('checkbox-All-customers');
        if (AllCustomersCheckBox.checked) {
            let CustomersCheckBox = document.querySelectorAll('.checkbox-customer');
            for (let i = 0; i < CustomersCheckBox.length; i++) {
                CustomersCheckBox[i].checked = true;
            }

            document.getElementById('btnDeleteCustomer').disabled = false;
        } else {
            let CustomersCheckBox = document.querySelectorAll('.checkbox-customer');
            for (let i = 0; i < CustomersCheckBox.length; i++) {
                CustomersCheckBox[i].checked = false;
            }
            document.getElementById('btnDeleteCustomer').disabled = true;
        }

    }
    function deleteCustomer(customerId) {
        DeletePopUp([customerId]);
    }

    function deleteMultipleCustomers() {
        let CustomersCheckBox = document.querySelectorAll('.checkbox-customer');
        let CustomerIds = [];
        CustomersCheckBox.forEach(function (checkbox) {
            if (checkbox.checked) {
                CustomerIds.push(checkbox.value);
            }
        });
        console.log(CustomerIds);
        DeletePopUp(CustomerIds);
    }


    function DeletePopUp(CustomerIds) {
        $.ajax({
            url: '/Customers/deleteconfirmation',
            type: 'POST',
            data: { customerIds: CustomerIds },
            success: function (data) {
                if (data.message == null) {
                    $('#DeletePopUp').html('');
                    $('#DeletePopUp').html(data);
                    $('#DeletePopUp').modal("show");
                } else {
                    console.log(data.message);
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
    
</script>
